<div class="col s6">
    <div class="card">
        <div class="card-image">
            <img src="{{ entry['picture'] }}">
            <span class="card-content">{{ entry["name"] }}</span>
            <a class="btn-floating halfway-fab waves-effect waves-light black"
               href={{ url_for('get',media_type='artist', item_id=entry['id']) }}>
                <i class="material-icons white-text">file_download</i>
            </a>
            <div class="card-action">
                <a href="{{ url_for('tracklist', item_type=entry['type'], name=entry["name"], item_id=entry['id']) }}">Track
                    list</a>
            </div>
        </div>
    </div>
</div>