<div class="col s6">
    <div class="card">
        <div class="card-image">
            <img src="{{ entry['picture_medium'] }}">
            <span class="card-content"><b>{{ entry["title"] }}</b></span>
            <a class="btn-floating halfway-fab waves-effect waves-light black"
               href={{ url_for('get', media_type='playlist', id=entry['id']) }}>
                <i class="material-icons white-text">file_download</i>
            </a>
            <div class="card-action">
                <a href="{{ url_for('tracklist', type=entry['type'], name=entry["title"], id=entry['id']) }}">Track
                    list</a>
            </div>
        </div>
    </div>
</div>