{% extends "layout.html" %}
{% block body %}
    <p>Path is the path to the executable you want to run, command is the 
command to run, replaces {path} with the path,
        {type} with the media type (track | album | artist} and {id} with 
the album id.</p>
    <p>Leaving websettings enabled could allow arbitrary code to be run on your machine if
        someone accesses settings while the server is running.</p>
    <form action="{{ url_for('settings') }}" method="post">
        Path: <input type="text" name="path" value="{{ path }}"><br>
        Command: <input type="text" name="command" value="{{ command }}"><br>
        Web Settings Enabled: <label>
        <input type="checkbox" {% if websettings.lower() == 'true' %}checked="checked"{% endif %} name="websettings"/>
        <span class="white-text">invisible text for the purpose of positioning</span>
    </label><br>
        <input type="submit" name="command" class="waves-effect waves-light btn">
        {{ form.csrf_token }}
    </form>

{% endblock %}
